.node-answer .rate-widget-number_up_down,
.node-question .rate-widget-number_up_down {
  width: 50px;
  height: 70px;
  text-align: center;
  margin-top: 0px;
  float: left;
}

.best-answer-select-answer {
  margin-top: 10px;
}
.node-answer .rate-number-up-down-rating,
.node-question .rate-number-up-down-rating {
  color: #aaa;
  width: 30px;
  font-size: 1.2em;
 line-height: 1.2em;
}
.node-answer .rate-number-up-down-btn-up,
.node-question .rate-number-up-down-btn-up,
.node-answer .rate-number-up-down-btn-down,
.node-question .rate-number-up-down-btn-down {
  display: block;
  width: 38px;
  height: 20px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.node-answer .rate-number-up-down-btn-up,
.node-question .rate-number-up-down-btn-up {
  background: url('../img/arrowup.png') 0 22px;
}
.node-answer .rate-number-up-down-btn-down,
.node-question .rate-number-up-down-btn-down {
  background: url('../img/arrowdown.png') 0 22px;
}
.node-answer a.rate-number-up-down-btn-up:hover,
.node-question a.rate-number-up-down-btn-up:hover,
.node-answer a.rate-number-up-down-btn-down:hover,
.node-question a.rate-number-up-down-btn-down:hover,
.node-answer .rate-voted,
.node-question .rate-voted {
  background-position: 0 63px;
  cursor: pointer;
}
.node-answer .rate-number-up-down-rating-up,
.node-question .rate-number-up-down-rating-up,
.node-answer .rate-number-up-down-rating-down,
.node-question .rate-number-up-down-rating-down,
.node-answer .rate-info,
.node-question .rate-info {
  display: none;
}
